/**************************************************************************************************************** 
 The responsive design is achieved by a combination of flex-box, 
 the usage of flexible unities and @media queries

*****************************************************************************************************************/

/*================
// Google Fonts
==================*/
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

/*==================================
// Add your color Pallet here 
====================================*/

:root {
  --body-bg: #fbe8b3;
  --div1-color: #1dff15;
  --div2-color: #ff248a;
  --div3-color: #2be6ff;
  --mobile-bg-color: #fd0606;
  --div5-color: #bc2cff;
}

/*==================================
// Reset default browser settings &
// add box-sizing to every element
====================================*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-bg);
}
